body {
 background: linear-gradient(rgb(174, 0, 255), rgb(51, 13, 77));
    font-family: "InterTight";
    margin: 0;
    user-select: none;
}
  @font-face {
    font-display: swap;
    font-family: "InterTight";
    font-style: normal;
    font-weight: 400;
    src: url(fonts/InterTight-Medium.woff2)format(woff2)
  }
  @font-face {
    font-display: swap;
    font-family: "InterTight";
    font-style: normal;
    font-weight: 700;
    src: url(fonts/InterTight-Bold.woff2)format(woff2)
  }
  content{
    padding: 10px 25px;
    background-color: #fff;
    margin: auto;
    width: 500px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  }
  center {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center
  }
.btn {
    background: rgba(123, 63, 146, 25%);
    border-radius: 10px;
    display: inline-flex;
    margin: 5px;
    text-decoration: none;
    transition: .5s all;
    flex-wrap: nowrap;
    align-items: center;
}
  .btn > .btnLogo {
    height: 25px!important;
    opacity: .3;
    padding: 15px 0px 15px 15px;
    transition: .3s;
    vertical-align: -15px
  }
  .btn:hover > .btnLogo {
    filter: invert();
    opacity: 1
  }
  .btn:hover > span {
    color: white;
    opacity: 1
  }
a > span {
    color: #4B0082;
    border-radius: 5px;
    padding: 15px;
    text-decoration: none;
    text-align: center;
}
  #vk:hover {
    background: #07f;
  }
  #youtube:hover {
    background: #FF0000;
  }
  #telegram:hover {
    background: #26A5E4;
  }
  h1{
    font-weight: bold;
  }
  .logo{
    border-radius: 100%;
  }
  #vk {
    padding: 0px 20px;
}
@media (max-width:650px) {
  .content{width: 80px}
  }